{% if session().hasFlash('success') %}
    {% for message in session().getFlash('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if session().hasFlash('error') %}
    {% for message in session().getFlash('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if session().hasFlash('errors') %}
    {% for types in session().getFlash('errors') %}
        {% for message in types %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endfor %}
{% endif %}