{% extends 'layouts/default.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        <form action="/register" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Имя</label>
                <input type="text" name="name" class="form-control" id="name" aria-describedby="titleHelp" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Почта</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="titleHelp" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" name="password" class="form-control" id="password" aria-describedby="titleHelp" required>
            </div>
            <div class="mb-3">
                <label for="password_confirmation" class="form-label">Подтверждение пароля</label>
                <input type="password" name="password_confirmation" class="form-control" id="password_confirmation" aria-describedby="titleHelp" required>
            </div>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}